<br>
<br>
<br>
<div class ="btn-group" style="width:100%">
  <button class = "button" style="width:25%" (click)="select('arctic_monkeys')">Play Arctic Monkey Sample</button>
  <button class = "button" style="width:25%" (click)="select('kanye_west')">Play Kanye West Sample</button>
  <button class = "button"style="width:25%" (click)="select('the_beatles')">Play The Beatles Sample</button>
  <button class = "button"style="width:25%" (click)="select('talyor_swift')">Play Talyor Swift Sample</button>
</div>
<br>
<br>
<br>
<button class = "button"style="width:25%" (click)="stop()">Stop Sound</button>
<br>
<br>

<div *ngIf = "artist == 'kanye_west'" >
  <pre>
    [Kanye West & Young Thug]
    We only makin' the highlights
    Tell everybody that you know
    That I don't love you no more
    And that's one thing that you know
    That you know
    
    [Intro: Kanye West]
    I need to know if you about cuttin'
    Or you about frontin', baby, I need to know
    
    [Verse 3: Kanye West]
    I can't do it the wall boy, I don't know what to your muthafucking ridiculous
    It's like that sometimes, he take me in my black skulha
    You ain't no freak was like a business
    Trying to sell work and don't dream, floaters
    So paranon dishes, scheck in the cave
    I'm the one, baby, I’m back phy his mark, I ain't made it yet
    
    [Verse 3: Cyhi Dank]
    Broke, broke broke, broke, broke!
    
    [Intro: Kanye West]
    My god-schepper in the floor)
    Mix the dread that tried to be nouns
    I got all this was friends, cause I did it
    Because an everything we see it, it's ways
    Those archboodly titters's the reason
    Someone told me today to away
    See when I'm older, you ain't gotta work no more
  </pre>
</div>

<div *ngIf = "artist == 'talyor_swift'" >
  <pre>
    And they got the cages, they got the boxes
    And guns
    They are the hunters, we are the foxes
    And we run

    [Chorus]
    They say I did something bad
    But why's it feel so good?
    Most fun I ever had
    And I'd do it over and over and over again if I could
    It just felt so good, good

    [Outro]
    Oh, you say I did something bad
    (But you can have a suasing on you

    [Chorus]
    And didn't that very topos
    I need you tonight

    [Chorus]
    So here you are at my window
    Guess nobody told you
    I don't need you, don't need you
    And i waited so frustrated
    Who's gonna hold you
    I don't need you, don't need you now

    I need you now
    Words it's just in your (pretty lights down to the heath
    He was cryin' vover wounds to replace
    When you see that it feels like this
    I thought I had you figured out
    Something's gone terrize end in every word I swore around
    That you wrote down dirty bodge back
    We snuck into the corner queen

    [Pre-Chorus 1]
    And that's how it works
    That's how you get the girl, girl (the Change (days
  </pre>
</div>

<div *ngIf = "artist == 'arctic_monkeys'" >
  <pre>
    You should settle for the draw
    I told you once more
    And I watched and I wait
    reckled
    I stop a draw
    Why don't you settle for a draw
    I told you once I'm sure, I told you once I'm sure
    You should settle for a draw
    Why don't you settle for the draw
    I told you once a hot laugh
    He'll be some love, we'renep own
    In the feel all the feeling that it through the day
    He didn't make you bird
    And he'd probably kick your head in
    
    Bigger cut with my sheets
    And then showes where where it's done before
    I want to see all of the things that he can imagined it
    Think it were while fee
    
    I want to squar in the night
    The exonishing wightning the same
    One lauge a think my fantasy
    Give me a kiss or three and I'm faving a strange
    There is no harming stop flows
    no worry, what it's known
    Who's the crooks are stalen like their ways
    Watching dress you upprett suiled
    
    [Chorus: Richard Hawley]
    You're a bad, bad woman
    You're a bad, bad woman
    You're a bad, bad woman
    You're a bad, bad"
  </pre>
</div>

<div *ngIf = "artist == 'the_beatles'" >
  <pre>
    You didn't even think it's gonna, 
    'cause it's good come on Suzy Parker everybody's welcome to come
    When you get to Suzy (I can't believe
    She's going to tear your heart apart
    No, no way will she deceive
    
    [Verse 2]
    I can't believe that she loves you
    And you know that can't be bad
    Yes, she loves you
    And you know you should be glad
    
    Oo, she loves you, yeah, yeah, yeah
    She loves you, yeah, yeah, yeah
    And with a love like that
    You know you should be glad
    And with a new and get in the limousing all the honey line
    [John] You Really Go go go!
    
    (J): Well, we've been aware
    But as all I want you to do
    Is just hold me, hold me, hold me, hold me
    Tighter
    Tighter
    
    [Verse 1: Paul McCartney]
    Well, she was just 1
    [Chorus]
    Falling, and nobody seems to like him
    They can tell what he wants to don
    That happened to me
    Cause everyone can see
    Without her I will be in misery
    
    [Bridge:]
    I hope had a green to you
    What do you see me
    She said, you don't get time to go
    As she is no longer from me
    Speakin 
  </pre>
</div>